/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --main-font: 'IBM Plex mono', sans-serif;
  --main-font-weight: 400;
  --bold-font-weight: 700;
  --main-font-size: 18px;
  --neon-color: #ff0070;
  --accent-color: var(--neon-color);
  --button-color: var(--neon-color);
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --text-title-color: #000028;
  --background-image: url(./images/cover-image-dark.png);
  --background-color: #000028;
}

.page {
  margin-block-start: 0;
  padding: 10px;
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.header {
  position: relative;
  height: calc(100vh - 20px);
}

.decorated-zone {
  margin-top: 0;
  padding-top: 1px;
  position: relative;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  top: 1px;
  right: 0;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.rec-decoration-text {
  right: 0;
  width: 60px;
  height: 26px;
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  color: var(--neon-color);
  text-transform: uppercase;
  position: absolute;
}

.neon-circle {
  right: 9px;
  top: 8px;
  background-color: var(--neon-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--neon-color);
  position: absolute;
}

.theme_dark.decorated-zone.rec-decoration-text {
  visibility: visible;
}

.header__theme-menu {
  display: grid;
  grid-template-columns: 1fr 70px;
  margin-block-start: 63px;
}

.header__theme-menu-list {
  grid-column-start: 2;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.header__theme-menu-item {
  height: 26px;
}

.header__theme-menu-button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  text-transform: lowercase;
  color: var(--button-color);
  background-color: transparent;
  vertical-align: -webkit-baseline-middle;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
}

button:hover {
  outline: 1px solid var(--button-color);
  opacity: 0.4;
}

button:focus {
  outline: none;
}

button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__title {
  margin-block-start: 69px;
  height: 192px;
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--neon-color);
  line-height: 95.7px;
}

.header__text {
  margin-block-start: 53px;
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
  color: var(--text-title-color);
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.main-content {
  margin-block-start: 50px;
  margin-block-end: 35px;
  display: grid;
  gap: 40px;
}

.section-content {
  margin-block-end: 9px;
  width: 100%;
  display: grid;
  gap: 20px;
}

.section-content:nth-last-of-type(2) {
  margin-bottom: 0;
}

.section-title {
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
  color: var(--accent-color)
}

.paragraph-content {
  display: grid;
  gap: 10px;
}

.paragraph-title {
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
  color: var(--text-title-color);
  line-height: 1.4625rem;
  background-color: var(--accent-color);
}

.paragraph-title_add-property {
  margin-block-end: 10px;
}

.paragraph-text {
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  color: var(--text-color);
  line-height: 23.4px;
}

.advices {
  margin-block-end: 10px;
  display: grid;
  gap: 10px;
}

.paragraph-title_advice {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  color: var(--text-title-color);
  line-height: 23.4px;
  background-color: var(--accent-color);
  font-weight: var(--main-font-weight);
}

a {
  text-shadow: 2px 2px 0 var(--neon-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid var(--text-color);
  box-shadow: none;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: -1px;
  box-shadow: none;
}

.images-section {
  display: grid;
  gap: 6px;
}

.image {
  width: calc(100vw - 20px);
}

.footer {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  width: 100%;
  height: calc(100vh - 20px);
}

.footer-title {
  grid-row-start: 2;
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--neon-color);
  line-height: 95.7px;
  text-align: center;
}

@media (375px < width) {
  .page {
    padding-block-start: 20px;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
  }

  .header {
    position: relative;
    height: calc(100vh - 40px);
  }

  .main-content {
    margin-block-start: 80px;
    margin-block-end: 60px;
    gap: 70px;
  }

  .footer {
    height: calc(100vh - 40px);
  }
}

@media (375px < width <= 768px) {  

  .header__theme-menu {
    margin-block-start: clamp(63px, 40%, 170px);
  }
  
  .header__title {
    margin-block-start: clamp(70px, 40%, 177px);   
    margin-inline-start: -20px;
  }

  .header__text {
    margin-inline-start: 364px;
    margin-block-start: 67px;
  }
} 

@media (768px <= width) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section-content {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  .paragraph-content {
    padding-inline-start: 7px;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-content: start;
  }

  .paragraph-content:last-of-type {
    grid-template-columns: 1fr;
  }

  .section-content:last-of-type {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .images-section {
    margin-block-start: 9px;
    display: grid;
    gap: 20px;
    width: calc(100vw - 2 * 20px); 
    grid-template-columns: repeat(3, calc((100vw - 4 * 20px) / 3));
    grid-template-areas: 
    "first first second"
    "third fourth second"
    "third fifth fifth";
  }

  .first-img {
    grid-area: first;
  }

  .second-img {
    grid-area: second;
  }

  .third-img {
    grid-area: third;
  }

  .fourth-img {
    grid-area: fourth;
  } 

  .fifth-img {
    grid-area: fifth;
  }
  
  .image {
    object-fit: cover;
    width: 100%;
  }

  .second-img .image {
    height: calc(100% - 5px);
  }

  .third-img .image {
    height: calc(100% - 10px);
  }

  .fourth-img .image {
    width: 100%;
  }

  .fifth-img .image {
    height: calc(100% - 10px);
  }

  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (768px <= width < 1024px) {
  .section-content:nth-of-type(2n) .paragraph-content {
    padding-inline-start: 0;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media (1024px <= width) {
  .page {
    padding-block-start: 18px;
  }

  .decorated-zone {
    padding-block-start: 0;
  }

  .header__theme-menu {
    margin-block-start: 0;
    grid-template-columns: 1fr 230px 1fr;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .header__title {
    margin-block-start: 293px;
    margin-inline-start: -20px;
  }

  .header__text {
    margin-block-start: 34px;
    margin-inline-start: 493px;
  }

  .main-content {
    margin-block-start: 82px;
  }

  .section-content {
    grid-template-columns: repeat(3, 1fr);
    margin-block-end: 10px;
    column-gap: 0;
    row-gap: 20px;
  }

  .section-content:nth-of-type(2) {
    grid-template-rows: repeat(2, auto);
    column-gap: 20px;
  }

  .section-content:nth-of-type(2) .paragraph-content {
    padding-inline-start: 0;
    grid-row-start: 2;
    grid-auto-flow: column;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(2, auto);
    align-self: start;
  }

  /*.paragraph-title {
    height: 1.4375rem;
  }*/

  .paragraph-content {
    padding-inline-start: 7px;
  }

  .section-content:nth-of-type(2) .paragraph-content:first-of-type {
    /*width: calc((100vw - 80px) / 3);*/
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .section-content:nth-of-type(2) .paragraph-content:nth-of-type(2) {
    /*width: calc((100vw - 60px) / 3);*/
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .section-content:nth-of-type(2) .paragraph-content:last-of-type {
    /*padding-inline-start: 13px;*/
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .section-content:last-of-type .paragraph-content {
    padding-inline-start: 0;
  }
}
