/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  margin-block-start: 0;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.header {
  position: relative;
  height: 100vh;
}

.decorated-zone {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100vh;
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
}

.decorated-zone::before {
  top: 10px;
  right: 0;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 0;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
}

.rec-decoration {
  top: 10px;
  right: 0;
  width: 60px;
  height: 26px;
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  color: var(--neon-color);
  text-transform: uppercase;
  position: absolute;
}

.rec-decoration::after {
  content: "";
  right: 9px;
  top: 8px;
  background-color: var(--neon-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--neon-color);
  position: absolute;
}

.header__theme-menu {
  margin-block-start: 61px;
  display: grid;
  grid-template-columns: 1fr 70px;
}

.header__theme-menu-list {
  grid-column-start: 2;
  display: grid;
  grid-template-rows: repeat(
    3,
    1fr
  ); /* Откуда их может взяться больше 3, если это кнопки? */
  gap: 10px;
}

.header__theme-menu-item {
  height: 26px;
}

.header__theme-menu-button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  text-transform: lowercase;
  color: var(--button-color);
  background-color: transparent;
  vertical-align: -webkit-baseline-middle;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color-hover);
  cursor: pointer;
}

button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__title {
  margin-block-start: 70px;
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--neon-color);
  line-height: 5.9813rem;
}

.header__text {
  margin-block-start: 55px;
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
  color: var(--text-title-color);
  line-height: 1.4625rem;
  background-color: var(--accent-color);
}

.main-content {
  margin-block-start: 40px;
  margin-block-end: 27px;
  display: grid;
  gap: 40px;
}

.section-content {
  margin-block-end: 9px;
  width: calc(100vw - 20px);
  display: grid;
  gap: 20px;
}

.section-content__columns {
  width: 100%;
  display: grid;
  gap: 20px;
}

.titles {
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
}

.section-title {
  color: var(--section-title-color);
}

.section-title__images {
  margin-block-end: 0;
  width: inherit;
  background-color: var(--accent-color);
}

.section-content__images {
  gap: 10px;
}

.paragraph-content {
  display: grid;
  gap: 10px;
}

.paragraph-title {
  color: var(--text-title-color);
  line-height: 1.4625rem;
  background-color: var(--accent-color);
}

.paragraph-title_add-property {
  margin-block-end: 0;
}

.paragraph-text {
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  color: var(--text-color);
  line-height: 1.4625rem;
}

.paragraph-title_advice {
  /*color: var(--text-title-color);
  line-height: 1.4625rem;
  background-color: var(--accent-color);*/
  font-weight: var(--main-font-weight);
}

.link-text {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link-text:hover {
  border-bottom: 1px solid var(--text-color);
  box-shadow: none;
  cursor: pointer;
}

.link-text:focus {
  outline: none;
}

.link-text:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: -1px;
  box-shadow: none;
}

.images-section {
  width: calc(100vw - 20px);
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  gap: 6px;
  justify-items: center;
}

.image {
  width: calc(100vw - 20px);
}

.footer {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  width: 100%;
  height: 100vh;
}

.footer-title {
  grid-row-start: 2;
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--neon-color);
  line-height: 5.9813rem;
  text-align: center;
}

@media (375px < width) {
  .page {
    padding-inline-end: 20px;
    padding-inline-start: 20px;
  }

  .main-content {
    margin-block-start: 60px;
    margin-block-end: 40px;
    gap: 70px;
  }

  .section-content {
    width: calc(100vw - 40px);
  }

  .image {
    width: calc(100vw - 40px);
  }

  .images-section {
    width: calc(100vw - 40px);
  }
}

@media (768px <= width) {
  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .rec-decoration {
    top: 20px;
  }

  .header__theme-menu {
    margin-block-start: 180px;
  }

  .header__title {
    margin-block-start: 177px;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 6.1875rem;
  }

  .header__text {
    margin-inline-start: 364px;
    margin-block-start: 164px;
  }

  .section-content {
    /*width: calc(100vw - 40px);*/
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: auto;
    grid-template-rows: 1fr;
    /*column-gap: 20px;
    row-gap: 20px;*/
  }

  .advice-block {
    padding-inline-start: 7px;
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
    gap: 20px;
  }

  .section-title__images {
    margin-block-end: 10px;
  }

  .section-content__images {
    grid-template-columns: 1fr;
  }

  .paragraph-title_add-property {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 1.4625rem;
  }

  .paragraph-content {
    padding-inline-start: 7px;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-content: start;
  }

  .advice-block .paragraph-content {
    padding-inline-start: 0;
    grid-column-start: 1;
  }

  .section-content__columns .paragraph-content {
    padding-inline-start: 0;
  }

  .images-section {
    gap: 20px;
    max-width: 1400px;
    grid-template-columns: repeat(3, calc((100vw - 4 * 20px) / 3));
    grid-template-areas:
      "first first second"
      "third fourth second"
      "third fifth fifth";
  }

  .first-img {
    grid-area: first;
  }

  .second-img {
    grid-area: second;
  }

  .third-img {
    grid-area: third;
  }

  .fourth-img {
    grid-area: fourth;
  }

  .fifth-img {
    grid-area: fifth;
  }

  .image {
    object-fit: cover;
    width: 100%;
  }

  .second-img .image {
    height: calc(100% - 5px);
  }

  .heigh__image {
    height: calc(100% - 10px);
  }

  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 5.9813rem;
  }
}

@media (768px <= width < 1024px) {
  .section-content__columns {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-block-end: 0;
  }

  .section-content .section-content__columns {
    column-gap: 0;
  }
}

@media (1024px <= width) {
  .decorated-zone {
    padding-block-start: 0;
  }

  .header__theme-menu {
    margin-block-start: 0;
    padding-block-start: 18px;
    grid-template-columns: 1fr 230px 1fr;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .header__title {
    margin-block-start: 293px;
    margin-inline-start: -20px;
    line-height: 8.0956rem;
  }

  .header__text {
    margin-block-start: 130px;
    margin-inline-start: 492px;
  }

  .main-content {
    max-width: 1440px;
  }

  .section-content {
    max-width: 1400px;
    margin-block-end: 10px;
    column-gap: 0;
  }

  .section-content__columns {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: auto;
    row-gap: 20px;
    column-gap: 20px;
    align-items: baseline;
  }

  .section-content__columns .paragraph-content {
    grid-column: auto;
  }

  .section-content__columns .paragraph-title {
    height: 23px;
  }

  .section-content__images {
    row-gap: 0;
    margin-block-end: 10px;
  }

  .section-title__images {
    width: auto;
  }

  .images-section {
    margin-block-start: 10px;
  }

  .footer-title {
    line-height: 8.0956rem;
  }
}

@media (1440px <= width) {
  .images-section {
    grid-template-columns: repeat(3, calc(1360px / 3));
  }
}
